<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="PSY THINKTANK, 주식, 채권, 부동산, 파생상품, 투자, 금융, 증권">
<meta name="description" content="올바른 주식 투자, PSY THINKTANK가 만들어 갑니다.">
<meta name="author" content="PSY THINKTANK">
<meta name="google-site-verification" content="FEZ-QQqTHTmdnS8FzNs-7TOeveE9vAmN9_fs3MgIzq4"/>
<meta property="og:title" content="PSY THINKTANK"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="www.psythinktank.com"/>
<meta property="og:image" content="http://www.psythinktank.com/assets/img/logo2.png"/>
<meta property="site_name" content="PSY Thinktank"/>
<meta property="description" content="빅데이터 기반 금융투자"/>
<meta property="locale" content="ko_KR"/>