<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid mr-5">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/">PSY THINKTANK</a>
            </li>
        </ul>
        <ul class="navbar-nav me-5">
        <li class="nav-item dropdown">
            {{#member}}
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{member.memberId}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{^member.isAdmin}}{{/member.isAdmin}}
                    {{#member.isAdmin}}
                        <a class="dropdown-item" href="/members">관리자 페이지</a>
                    {{/member.isAdmin}}
                    <a class="dropdown-item" href="/members/modify">{{menu.member_edit}}</a>
                    <a class="dropdown-item" href="/logout">{{menu.logout}}</a>
                </div>
                <script src="/js/chat-notification.js"></script>
            {{/member}}
            {{^member}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">{{menu.login}}</a>
                </li>
            {{/member}}
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-start">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-2" id="navbarSupportedContent">
        <ul class="navbar-nav text-start">

            <li class="nav-item">
                <a class="nav-link" href="/stocks">{{menu.stock_search}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles?boardId=1">{{menu.board1}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles?boardId=2">{{menu.board2}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/circulars">{{menu.circular}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contents/investmentPerformance">{{menu.investment_performance}}</a>
            </li>
            <li class="nav-item">
                <a id="chat-menu" class="nav-link" href="/chat">
                    <span class="position-relative p-1">
                        {{menu.chat}}
                        <span id="chat-notification"
                              class="position-absolute top-0 start-100 translate-middle p-1 bg-warning border border-warning rounded-circle d-none">
                            <span class="visually-hidden">{{chat.new_alerts}}</span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>