<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">게시판</h2>
    <table class="table text-center">
        <thead class="table-dark">
        <tr>
            <td>번호</td>
            <td class="w-50">제목</td>
            <td>작성자</td>
            <td>조회수</td>
            <td>작성일</td>
        </tr>
        </thead>
        <tbody id="result">
        {{#articles.toList}}
            <tr>
                <td>
                    {{#isNotice}}<b>공지</b>{{/isNotice}}
                    {{^isNotice}}{{id}}{{/isNotice}}
                </td>
                <td>
                    {{#isNotice}}<b><a href="/articles/{{id}}">{{title}}</a></b>{{/isNotice}}
                    {{^isNotice}}<a href="/articles/{{id}}">{{title}}</a>{{/isNotice}}
                </td>
                <td>
                    {{memberId}}
                </td>
                <td>
                    {{hit}}
                </td>
                <td>
                    {{createdAt}}
                </td>
            </tr>
        {{/articles.toList}}
        </tbody>
    </table>
    <button class="btn btn-dark m-2" onclick="location.href='/articles/add?boardId={{boardId}}'">글 작성</button>
    <div class="d-flex justify-content-center">
        <select id="select" class="form-select mx-2" style="width: 100px">
            <option>제목</option>
            <option>내용</option>
            <option>작성자</option>
        </select>
        <input type="text" id="searchText" class="d-inline form-control mx-2" style="width: 200px"
               name="searchText" placeholder="검색어를 입력하세요.">
        <input type="button" id="searchBtn" class="d-inline btn btn-secondary mx-2"
               name="searchBtn" value="검색">
    </div>
    <div class="d-flex justify-content-center m-2">
        <ul class="pagination">
            {{#articles.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/articles?page={{articles.previousPageable.getPageNumber}}">이전</a>
                </li>
            {{/articles.hasPrevious}}

            {{#articles.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/articles?page={{articles.nextPageable.getPageNumber}}">다음</a>
                </li>
            {{/articles.hasNext}}
        </ul>
    </div>
</div>
{{>layout/footer}}
<script src="/js/article-list.js"></script>
</body>
</html>