<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{board.name}}</title>
    {{>common/link}}
    {{>common/script}}
    <script defer src="/js/article-list.js"></script>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">{{board.name}}</h2>
    <table class="table table-responsive text-center">
        <thead class="table-dark">
        <tr>
            <td class="d-none d-md-table-cell">{{article.label.number}}</td>
            <td class="w-50">{{article.label.title}}</td>
            <td class="d-none d-md-table-cell">{{article.label.writer}}</td>
            <td class="d-none d-md-table-cell">{{article.label.hit}}</td>
            <td class="d-none d-md-table-cell">{{article.label.creation_date}}</td>
        </tr>
        </thead>
        <tbody id="result">
        {{#articles.toList}}
            <tr>
                <td class="d-none d-md-table-cell">
                    {{#isNotice}}<b>{{article.label.notice}}</b>{{/isNotice}}
                    {{^isNotice}}{{id}}{{/isNotice}}
                </td>
                <td>
                    {{#isNotice}}<b><a href="/articles/{{id}}">{{title}}</a></b>{{/isNotice}}
                    {{^isNotice}}<a href="/articles/{{id}}">{{title}}</a>{{/isNotice}}
                </td>
                <td class="d-none d-md-table-cell">
                    {{memberId}}
                </td>
                <td class="d-none d-md-table-cell">
                    {{hit}}
                </td>
                <td class="d-none d-md-table-cell">
                    {{createdAt}}
                </td>
            </tr>
        {{/articles.toList}}
        </tbody>
    </table>
    <button class="btn btn-dark m-2" onclick="location.href='/articles/add?boardId={{board.id}}'">
    {{article.label.create}}
    </button>
    <div class="d-none d-md-flex justify-content-center">
        <label>
            <select id="select" class="form-select mx-2" style="width: 100px">
                <option>{{article.label.title}}</option>
                <option>{{article.label.content}}</option>
                <option>{{article.label.writer}}</option>
            </select>
        </label>
        <input type="text" id="searchText" class="d-inline form-control mx-2" style="width: 200px"
               name="searchText" placeholder="{{article.label.please_input_keyword}}">
        <input type="button" id="searchBtn" class="d-inline btn btn-secondary mx-2"
               name="searchBtn" value="{{search.search}}">
    </div>
    <div class="d-flex justify-content-center m-2">
        <ul class="pagination">
            {{#articles.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/articles?page={{articles.previousPageable.getPageNumber}}">
                    {{pagination.prev}}
                    </a>
                </li>
            {{/articles.hasPrevious}}

            {{#articles.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/articles?page={{articles.nextPageable.getPageNumber}}">
                    {{pagination.next}}
                    </a>
                </li>
            {{/articles.hasNext}}
        </ul>
    </div>
</div>
{{>layout/footer}}
</body>
</html>