<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅</title>
    <link rel="stylesheet" type="text/css" href="/css/chat.css"/>
    <script src="/js/chat.js"></script>
    <script>
        const chat = new Chat('{{member.memberId}}')

        document.addEventListener('DOMContentLoaded', () => {
            const inputButton = document.getElementById("sendButton");
            inputButton.onclick = () => {
                chat.sendMessage();
            };
            const input = document.getElementById("messageInput");
            input.onkeyup = (event) => {
                if (event.key === 'Enter') {
                    chat.sendMessage();
                }
            }
            sessionStorage.removeItem("newChatNotification");
        });
    </script>
</head>
<body>
{{>layout/header}}

<div class="container-fluid py-5">
    <h2 class="m-2">채팅</h2>

    <div id="chat-container"></div>

    <div id="input-container">
        <input type="text" id="messageInput" placeholder="메시지를 입력하세요."/>
        <button id="sendButton" class="btn btn-success m-1" onclick="sendMessage()">보내기</button>
    </div>
</div>
{{>layout/footer}}
</body>