<!DOCTYPE html>
<html lang="ko">
<head>
    {{>common/meta}}
    <title>회보</title>
    {{>common/link}}
    {{>common/script}}
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">회보</h2>
    <table class="table text-center">
        <thead class="table-dark">
        <tr>
            <td>번호</td>
            <td class="w-50">제목</td>
            <td>업로드한 날짜</td>
            <td>기능</td>
        </tr>
        </thead>
        <tbody>
        {{#circulars.getContent}}
            <tr>
                <td>
                    {{id}}
                </td>
                <td>
                    <a href="/api/circulars/{{id}}">{{title}}</a>
                </td>
                <td>
                    {{createdAt}}
                </td>
                <td>
                    {{#member.isAdmin}}
                        <form action="/circulars/{{id}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" class="btn btn-primary p-1" value="삭제">
                        </form>
                    {{/member.isAdmin}}
                </td>
            </tr>
        {{/circulars.getContent}}
        </tbody>
    </table>
    {{#member.isAdmin}}
        <button class="btn btn-dark m-2" onclick="location.href='/circulars/add'">파일 올리기</button>
    {{/member.isAdmin}}

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#circulars.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/circulars?page={{circulars.previousPageable.getPageNumber}}">이전</a>
                </li>
            {{/circulars.hasPrevious}}

            {{#circulars.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/circulars?page={{circulars.nextPageable.getPageNumber}}">다음</a>
                </li>
            {{/circulars.hasNext}}
        </ul>
    </div>
</div>
{{>layout/footer}}
</body>
</html>