<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{menu.member_delete}}</title>
    {{>common/link}}
    {{>common/script}}
    <script defer src="/js/good-bye.js"></script>
</head>
<body>
</body>
</html>