<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{board.name}} - {{article.label.article_creation}}</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
</head>
<body>
{{>layout/header}}
<div class="container py-5" style="min-height:800px;">
    <h2 class="m-2">{{board.name}} - {{article.label.article_creation}}</h2>
    <div class="border rounded-3 m-2 p-3">
        <form id="form" action="/articles" method="post">
            <input type="hidden" name="boardId" value="{{board.id}}">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">{{article.label.title}}</label>
                <input type="text" class="form-control" id="title" name="title" size="135" maxlength="200"
                       required>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment">{{article.label.content}}</label>
                <div id="editor"></div>
            </div>
            {{#member.isAdmin}}
                <div class="mb-3 mt-3 text-center">
                    <label><input type="checkbox" id="isNotice" name="isNotice">{{article.label.notice}}</label>
                </div>
            {{/member.isAdmin}}
            <input type="button" class="btn btn-secondary mx-2" value="{{article.label.create}}"
                   onclick="submitForm();">
            <button type="button" class="btn btn-secondary mx-2"
                    onclick="location.href='/articles?boardId={{board.id}}'">{{navigation.list}}</button>
            <input type="hidden" id="content" name="content" value="">
            {{#member}}
                <input type="hidden" name="memberId" value="{{member.memberId}}">
            {{/member}}
        </form>
    </div>
</div>
{{>layout/footer}}
<script src="/js/insert-article.js"></script>
</body>
</html>