<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css"/>
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-chart/latest/toastui-editor-plugin-chart.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-table-merged-cell/latest/toastui-editor-plugin-table-merged-cell.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-uml/latest/toastui-editor-plugin-uml.min.js"></script>

    <script type="text/javascript">
        function checkNotice() {
            let isNotice = $("#isNotice").val();
            if (isNotice == 'true') $("#isNotice").val('false');
            else $("#isNotice").val('true');
        }
    </script>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">게시글 작성</h2>
    <div class="border rounded-3 m-2 p-3">
        <form id="form" action="/articles" method="post">
            <input type="hidden" name="boardId" value="{{boardId}}">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" size="135" maxlength="200"
                       required>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment">내용</label>
                <div id="editor"></div>
            </div>
            <div class="mb-3 mt-3 text-center">
                <label><input type="checkbox" id="isNotice" name="isNotice" value="false"
                              onchange="checkNotice()">공지</label>
            </div>
            <input type="button" class="btn btn-secondary mx-2" value="글 입력" onclick="submitForm();">
            <button type="button" class="btn btn-secondary mx-2" onclick="location.href='/articles?boardId={{boardId}}
            '">목록</button>
            <input type="hidden" id="content" name="content" value="">
            {{#member}}
                <input type="hidden" name="memberId" value="{{member.memberId}}">
            {{/member}}
        </form>
    </div>
</div>
{{>layout/footer}}
<script>
    const Editor = toastui;
    const {chart, codeSyntaxHighlight, colorSyntax, tableMergedCell, uml} = toastui.Editor.plugin;

    const chartOptions = {
        minWidth: 100,
        maxWidth: 600,
        minHeight: 100,
        maxHeight: 300
    };

    const editor = new Editor.Editor({
        usageStatistics: false,
        language: 'ko',
        el: document.querySelector('#editor'),
        previewStyle: 'tab',
        height: '500px',
        initialValue: '',
        initialEditType: 'wysiwyg',
        plugins: [[chart, chartOptions], [codeSyntaxHighlight, {highlighter: Prism}], colorSyntax, tableMergedCell, uml]
    });

    function submitForm() {
        if ($("#title").val().trim() != "") {
            $("#content").val(editor.getHTML().replaceAll("\"", "\'"));
            $("#form").submit();
        } else {
            alert("제목을 입력해주세요.");
        }
    }
</script>
</body>
</html>