<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{member.label.member_creation}}</title>
    {{>common/link}}
    {{>common/script}}
    <script defer src="/js/join.js"></script>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <div class="text-center">
        <h2 class="m-2">{{member.label.member_creation}}</h2>
        <div class="w-75 mx-auto">
            <form id="form" class="text-start" action="/members" method="post">
                <div>
                    <div>
                        <label class="d-inline-block w-25">{{member.label.id}}</label>
                        <div class="d-inline">
                            <input class="d-inline-block form-control w-50 my-2" type="text" id="memberId"
                                   name="memberId" maxlength="50" placeholder="{{member.label.id_constraint}}(-, _)"
                                   required>
                            <button type="button" id="checkIdBtn"
                                    class="btn btn-secondary d-inline">{{member.label.check_id}}</button>
                        </div>
                    </div>
                    <div>
                        <label class="d-inline-block w-25">{{member.label.password}}</label>
                        <div class="d-inline">
                            <input class="d-inline-block form-control w-50 my-2" type="password" id="memberPassword"
                                   name="password" maxlength="50"
                                   placeholder="{{member.label.password_constraint}}(!, @, #, $, %, ^, &, ^, &, *, -, _, +, =)"
                                   required>
                        </div>
                    </div>
                    <div>
                        <label class="d-inline-block w-25">{{member.label.confirm_password}}</label>
                        <div class="d-inline">
                            <input class="d-inline-block form-control w-50 my-2" type="password" id="memberPassword2"
                                   maxlength="50" required>
                        </div>
                    </div>
                    <div>
                        <label class="d-inline-block w-25">{{member.label.email_address}}</label>
                        <div class="d-inline">
                            <input class="d-inline-block form-control w-50 my-2" type="email" id="memberEmail"
                                   name="email" maxlength="50" required>
                            <button type="button" id="checkEmailBtn"
                                    class="btn btn-secondary d-inline">{{member.label.check_email}}
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="userLevel" value="1">
                </div>
            </form>
        </div>
        <div class="m-2">
            <button type="button" class="btn btn-secondary mx-2"
                    onclick="submitForm()">{{member.label.create_account}}</button>
            <button type="button" class="btn btn-secondary mx-2"
                    onclick="history.back(-1);">{{navigation.go_back}}</button>
        </div>
    </div>
</div>
{{>layout/footer}}
</body>
</html>