<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{menu.login}}</title>
    {{>common/link}}
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    {{>common/script}}
    <script defer src="/js/login.js"></script>
</head>
<body>
<div id="spinner" class="position-absolute vw-100 vh-100" style="z-index:100; display:none">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="spinner-border"></div>
    </div>
</div>
<div class="page-container">
    <div class="login-form-container shadow">
        <div class="d-none d-md-flex login-form-right-side">
            <div class="top-logo-wrap">

            </div>
            <h1>PSY THINKTANK</h1>
            <p>{{login.catch_phrase}}</p>
        </div>
        <div class="login-form-left-side">
            <div class="login-top-wrap">
                <span>{{login.sign_up_with_just_your_email}}</span>
                <button class="create-account-btn shadow-light"
                        onclick="location.href='/members/add'">{{login.create_account}}</button>
            </div>
            <form action="/login_proc" method="post">
                <div class="login-input-container">
                    <div id="messageArea"></div>
                    <div class="login-input-wrap input-id">
                        <i class="far fa-id-card"></i>
                        <input id="memberId" name="memberId" placeholder="ID" type="text" maxlength="50">
                    </div>
                    <div class="login-input-wrap input-password">
                        <i class="fas fa-key"></i>
                        <input id="memberPassword" name="memberPassword" placeholder="Password" type="password"
                               maxlength="50">
                    </div>
                </div>
                <div class="login-btn-wrap">
                    <button type="submit" id="loginBtn" class="login-btn">Login</button>
                    <a href="#" onclick="findIdAndPw()">{{login.forgot_id_or_password}}</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>