<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>관리자 페이지</title>
    {{>common/link}}
    {{>common/script}}
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">관리자 페이지</h2>
    <table class="table text-center">
        <thead class="table-dark">
        <tr>
            <td>아이디</td>
            <td>이메일</td>
            <td>사용자 레벨</td>
            <td>가입일</td>
            <td>마지막 로그인 날짜</td>
            <td>권한 변경</td>
        </tr>
        </thead>
        <tbody>
        {{#members.toList}}
            <tr>
                <td>
                    {{memberId}}
                </td>
                <td>
                    {{email}}
                </td>
                <td>
                    {{userLevel}}
                </td>
                <td>
                    {{createdAt}}
                </td>
                <td>
                    {{#lastLoggedInAt}}
                        {{lastLoggedInAt}}
                    {{/lastLoggedInAt}}
                    {{^lastLoggedInAt}}
                        -
                    {{/lastLoggedInAt}}
                </td>
                <td>
                    {{#toDto.isAdmin}}
                        -
                    {{/toDto.isAdmin}}
                    {{^toDto.isAdmin}}
                        <form class="d-inline" action="/members/change/userLevel" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="memberId" value="{{memberId}}">
                            <input type="hidden" name="userLevel" value="2">
                            <input type="submit" value="관리자 승격">
                        </form>
                        <form class="d-inline" action="/members/change/userLevel" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="memberId" value="{{memberId}}">
                            <input type="hidden" name="userLevel" value="1">
                            <input type="submit" value="회원으로 강등">
                        </form>
                    {{/toDto.isAdmin}}
                </td>
            </tr>
        {{/members.toList}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#members.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/members?page={{members.previousPageable.getPageNumber}}">이전</a>
                </li>
            {{/members.hasPrevious}}
            {{#members.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/members?page={{members.nextPageable.getPageNumber}}">다음</a>
                </li>
            {{/members.hasNext}}
        </ul>
    </div>
</div>
{{>layout/footer}}
</body>
</html>