<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{menu.newsletter}}</title>
    {{>common/link}}
    {{>common/script}}
</head>
<body>
{{>layout/header}}
<div class="container py-5" style="min-height:800px;">
    <h2 class="m-2">{{menu.newsletter}}</h2>
    <table class="table text-center">
        <thead class="table-dark">
        <tr>
            <td class="d-none d-md-table-cell">{{article.label.number}}</td>
            <td class="w-50">{{article.label.title}}</td>
            <td class="d-none d-md-table-cell">{{newsletter.label.upload_date}}</td>
            {{#member.isAdmin}}
                <td class="d-none d-md-table-cell">
                    기능
                </td>
            {{/member.isAdmin}}
        </tr>
        </thead>
        <tbody>
        {{#newsletters.getContent}}
            <tr>
                <td class="d-none d-md-table-cell">
                    {{id}}
                </td>
                <td>
                    <a href="/api/newsletters/{{id}}">{{title}}</a>
                </td>
                <td class="d-none d-md-table-cell">
                    {{createdAt}}
                </td>
                {{#member.isAdmin}}
                    <td class="d-none d-md-table-cell">
                        <form action="/newsletters/{{id}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" class="btn btn-primary p-1" value="삭제">
                        </form>
                    </td>
                {{/member.isAdmin}}
            </tr>
        {{/newsletters.getContent}}
        </tbody>
    </table>
    {{#member.isAdmin}}
        <button class="btn btn-dark m-2"
                onclick="location.href='/newsletters/add'">파일 올리기
        </button>
    {{/member.isAdmin}}

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#newsletters.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/newsletters?page={{newsletters.previousPageable.getPageNumber}}">
                    {{pagination.prev}}
                    </a>
                </li>
            {{/newsletters.hasPrevious}}

            {{#newsletters.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/newsletters?page={{newsletters.nextPageable.getPageNumber}}">
                    {{pagination.next}}
                    </a>
                </li>
            {{/newsletters.hasNext}}
        </ul>
    </div>
</div>
{{>layout/footer}}
</body>
</html>