<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주식 검색</title>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">주식 종목</h2>
    <div class="d-flex justify-content-center m-2">
        <input type="text" id="searchText" class="form-control mx-2" name="searchText" placeholder="종목명 또는 종목코드"> <input
            type="button" id="searchBtn" class="btn btn-secondary mx-2" name="searchBtn" value="검색">
    </div>
    <table class="table text-center table-striped">
        <thead class="table-dark">
        <tr>
            <td>종목코드</td>
            <td>종목명</td>
            <td>구분</td>
        </tr>
        </thead>
        <tbody id="result">
        {{#stocks.toList}}
            <tr>
                <td>
                    {{symbol}}
                </td>
                <td>
                    <a href="/stocks/{{symbol}}">{{name}}</a>
                </td>
                <td>
                    {{corporationClass}}
                </td>
            </tr>
        {{/stocks.toList}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#stocks.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/stocks?page={{stocks.previousPageable.getPageNumber}}">이전</a>
                </li>
            {{/stocks.hasPrevious}}
            {{#stocks.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/stocks?page={{stocks.nextPageable.getPageNumber}}">다음</a>
                </li>
            {{/stocks.hasNext}}

        </ul>
    </div>
</div>
{{>layout/footer}}
<script src="/js/stock-list.js"></script>
</body>
</html>