<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{menu.stock_search}}</title>
    {{>common/link}}
    {{>common/script}}
    <script defer src="/js/stock-list.js"></script>
</head>
<body>
{{>layout/header}}
<div class="container py-5" style="min-height:800px;">
    <h2 class="m-2">{{menu.stock_search}}</h2>
    <div class="d-flex justify-content-center m-2">
        <input type="text" id="searchText" class="form-control mx-2"
               name="searchText" placeholder="{{stock.label.stock_name_or_symbol}}">
        <input type="button" id="searchBtn" class="btn btn-secondary mx-2"
               name="searchBtn" value="{{search.search}}">
    </div>
    <div class="d-flex justify-content-end m-2">
        <input type="button" id="downloadBtn" class="btn btn-primary mx-2"
               name="searchBtn" value="{{stock.download}}">
    </div>
    <table class="table text-center table-striped">
        <thead class="table-dark">
        <tr>
            <td class="d-none d-md-table-cell">{{stock.label.symbol}}</td>
            <td>{{stock.label.stock_name}}</td>
            <td class="d-none d-md-table-cell">{{stock.label.classification}}</td>
        </tr>
        </thead>
        <tbody id="result">
        {{#stocks.toList}}
            <tr>
                <td class="d-none d-md-table-cell">
                    {{symbol}}
                </td>
                <td>
                    <a href="/stocks/{{symbol}}">{{name}}</a>
                </td>
                <td class="d-none d-md-table-cell">
                    {{corporationClass}}
                </td>
            </tr>
        {{/stocks.toList}}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {{#stocks.hasPrevious}}
                <li class="page-item">
                    <a class="page-link" href="/stocks?page={{stocks.previousPageable.getPageNumber}}">
                    {{pagination.prev}}
                    </a>
                </li>
            {{/stocks.hasPrevious}}
            {{#stocks.hasNext}}
                <li class="page-item">
                    <a class="page-link" href="/stocks?page={{stocks.nextPageable.getPageNumber}}">
                    {{pagination.next}}
                    </a>
                </li>
            {{/stocks.hasNext}}

        </ul>
    </div>
</div>
{{>layout/footer}}
</body>
</html>