<!DOCTYPE html>
<html>
<head>
    {{>common/meta}}
    <title>게시글 수정</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5">
    <h2 class="m-2">{{board.name}} - 게시글 수정</h2>
    <div class="border rounded-3 m-2 p-3">
        <form id="form" action="/articles" method="post">
            <input type="hidden" name="_method" value="put">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" size="135" maxlength="200"
                       value="{{article.title}}">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment">내용</label>
                <div id="editor"></div>
            </div>
            <div class="mb-3 mt-3 text-center">
                <label>
                    <input type="checkbox" id="isNotice" name="isNotice"
                           {{#article.isNotice}}checked{{/article.isNotice}}>공지
                </label>
            </div>
            <input type="button" class="btn btn-secondary mx-2" value="글 수정" onclick="submitForm();">
            <button type="button" class="btn btn-secondary mx-2"
                    onclick="location.href='/articles?boardId={{article.boardId}}'">목록
            </button>
            <input type="hidden" id="content" name="content" value="{{article.content}}">
            <input type="hidden" id="boardId" name="boardId" value="{{article.boardId}}">
            <input type="hidden" name="id" value="{{article.id}}"/>
            <input type="hidden" name="hit" value="{{article.hit}}"/>
            <input type="hidden" name="createdAt" value="{{article.createdAt}}"/>
            <input type="hidden" name="memberId" value="{{article.memberId}}"/>
        </form>
    </div>
</div>
{{>layout/footer}}
<script src="/js/update-article.js"></script>
</body>
</html>