<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{stock.name}}({{stock.symbol}}) - {{stock.corporationClass}}</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@kurkle/color@0.3.2/dist/color.esm.min.js"></script>
    <script defer src="/js/view-stock.js"></script>
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">종목 보기</h2>
    <table class="table table-responsive-sm">
        <colgroup>
            <col class="d-none d-md-table-cell text-center"/>
            <col/>
        </colgroup>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.classification}}</td>
            <td>
                {{stock.corporationClass}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.symbol}}</td>
            <td>
                {{stock.symbol}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.stock_name}}</td>
            <td>
                {{stock.name}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.overview}}</td>
            <td>
                {{stock.overview}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.share_change}}</td>
            <td class="position-relative w-auto">
                <div>
                    <canvas id="myChart" style="width:50vw"></canvas>
                </div>
                <a class="btn btn-light float-end" data-bs-toggle="collapse" href="#share" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-caret-down-fill"></i>
                </a>
                <table id="share" class="table collapse">
                    {{#share.result}}
                        <tr>
                            <td class="table-light text-center">
                                {{#date}}
                                    {{.}}
                                {{/date}}
                            </td>
                            <td>
                                {{holderName}}
                            </td>
                            <td>
                                {{value}}
                            </td>
                        </tr>
                    {{/share.result}}
                </table>
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center w-25">{{stock.label.recent_dividend}}</td>
            <td>
                {{dividend.value}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light text-center">PSY
                THINKTANK {{stock.label.big_data_based_evaluation}}</td>
            <td>
                {{#member}}
                    <table class="table">
                        <tr>
                            <td class="table-light text-center w-25">성장성(Growth Potential)</td>
                            <td>
                                <!-- 10 5 0 -->
                                {{hrr}}
                                {{^hrr}}데이터 준비 중{{/hrr}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-light text-center w-25">지배구조(Governance)</td>
                            <td>
                                <!-- 40 30 20 -->
                                {{governance}}
                                {{^governance}}데이터 준비 중{{/governance}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-light text-center w-25">이사회 안정성(Board Stability)</td>
                            <td>
                                <!-- 14 9 4 -->
                                {{corporateBoardStability}}
                                {{^corporateBoardStability}}
                                    데이터 준비 중
                                {{/corporateBoardStability}}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-light text-center w-25">대외 환경(External Environment)</td>
                            <td>
                                {{stockHypeIndex}}
                                {{^stockHypeIndex}}
                                    데이터 준비 중
                                {{/stockHypeIndex}}
                            </td>
                        </tr>
                    </table>
                {{/member}}
                {{^member}}
                    {{stock.label.available_after_login}}
                {{/member}}
            </td>
        </tr>
    </table>
    <button class="btn btn-dark m-2" onclick="location.href='/stocks'">
        {{navigation.list}}
    </button>
</div>
{{>layout/footer}}
<script>
    const CHART_COLORS = [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
    ];
    const CHART_COLORS_TRANSPARENT = [
        'rgba(255, 99, 132, 0.5)',
        'rgba(255, 159, 64, 0.5)',
        'rgba(255, 205, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(201, 203, 207, 0.5)'
    ];

        {{#chartDataset}}
        new Chart(document.getElementById('myChart'),
                {
                    type: 'line',
                    data: {
                        labels: [
                            {{#labels}}
                                '{{.}}',
                            {{/labels}}
                        ],
                        datasets: [
                            {{#chartDatasets}}
                                {
                                    label: '{{holderName}}',
                                    data: {{values}},
                                },
                            {{/chartDatasets}}
                        ]
                    },
                    options: {
                        responsive: false,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: '최대주주 지분율 변화'
                            }
                        }
                    },
                }
        );
        {{/chartDataset}}
</script>
</body>
</html>