<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{article.title}}</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">{{board.name}} - {{article.label.article_view}}</h2>
    <table class="table text-center">
        <colgroup>
            <col class="d-none d-md-table-cell w-25"/>
            <col/>
        </colgroup>
        <tr>
            <td class="d-none d-md-table-cell table-light">{{article.label.title}}</td>
            <td>
                {{article.title}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light">{{article.label.writer}}</td>
            <td>
                {{article.memberId}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light">{{article.label.hit}}</td>
            <td>
                {{article.hit}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light">{{article.label.creation_date}}</td>
            <td>
                {{article.createdAt}}
            </td>
        </tr>
        <tr>
            <td class="d-none d-md-table-cell table-light">{{article.label.content}}</td>
            <td class="text-start" style="white-space:pre-line">
                <input type="hidden" id="content" name="content" value="{{article.content}}">
                <div id="viewer"></div>
            </td>
        </tr>
        <tr style="text-align:right;">
            <td colspan="2">
                <input type="button" class="btn btn-secondary my-2" value="{{article.label.edit}}"
                       onclick="location.href='/articles/modify/{{article.id}}'">
                <form style="display:inline" action="/articles/{{article.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="boardId" value="{{article.boardId}}">
                    <input type="submit" class="btn btn-secondary my-2" value="{{article.label.delete}}">
                </form>
            </td>
        </tr>
    </table>
    <button class="btn btn-dark my-2" onclick="location.href='/articles?boardId={{article.boardId}}'">
    {{navigation.list}}
    </button>
    <div id="comments" class="form-control" data-article-id="{{article.id}}"></div>
    <div class="form-control my-2">
        <label for="comment-text"></label>
        <textarea id="comment-text" class="form-control"></textarea>
        <div class="text-end">
            <button type="button"
                    class="btn btn-secondary m-2"
                    onclick="addComment({{article.id}}, 0, 0, 1, document.getElementById('comment-text').value)">
                추가
            </button>
        </div>
    </div>
</div>
{{>layout/footer}}
<script src="/js/view-article.js"></script>
</body>
</html>