<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    {{>common/meta}}
    <title>{{article.title}}</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
</head>
<body>
{{>layout/header}}
<div class="container-fluid py-5" style="min-height:800px;">
    <h2 class="m-2">{{article.board.name}} - 게시글 보기</h2>
    <table class="table text-center">
        <colgroup>
            <col style="width:20%"/>
            <col style="width:80%"/>
        </colgroup>
        <tr>
            <td class="table-light">{{article.label.title}}</td>
            <td>
                {{article.title}}
            </td>
        </tr>
        <tr>
            <td class="table-light">{{article.label.writer}}</td>
            <td>
                {{article.memberId}}
            </td>
        </tr>
        <tr>
            <td class="table-light">{{article.label.hit}}</td>
            <td>
                {{article.hit}}
            </td>
        </tr>
        <tr>
            <td class="table-light">{{article.label.creation_date}}</td>
            <td>
                {{article.createdAt}}
            </td>
        </tr>
        <tr>
            <td class="table-light">{{article.label.content}}</td>
            <td class="text-start" style="white-space:pre-line">
                <input type="hidden" id="content" name="content" value="{{article.content}}">
                <div id="viewer"></div>
            </td>
        </tr>
        <tr style="text-align:right;">
            <td colspan="2">
                <input type="button" class="btn btn-secondary my-2" value="{{article.label.edit}}"
                       onclick="location.href='/articles/modify/{{article.id}}'">
                <form style="display:inline" action="/articles/{{article.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="boardId" value="{{article.boardId}}">
                    <input type="submit" class="btn btn-secondary my-2" value="{{article.label.delete}}">
                </form>
            </td>
        </tr>
    </table>
    <button class="btn btn-dark my-2" onclick="location.href='/articles?boardId={{article.boardId}}'">
    {{navigation.list}}
    </button>
</div>
{{>layout/footer}}
<script src="/js/view-article.js"></script>
</body>
</html>