<!DOCTYPE html>
<html lang="ko">
<head>
    {{>common/meta}}
    <title>회보 보기</title>
    {{>common/link}}
    {{>common/script}}
    {{>common/toast-ui}}
</head>
<body style="margin:0;padding:0;height:100vh;">
{{>layout/header}}
{{>layout/footer}}
</body>
</html>