<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회보 보기</title>
</head>
<body style="margin:0;padding:0;height:100vh;">
{{>layout/header}}
<!-- <iframe class="m-0 p-0" src="C:\\circular\\6f361a2f-c67a-4fa1-b647-6e3ce6c647e5.pdf" width="100%" height="100%"></iframe> -->
<%--
<iframe class="m-0 p-0" src="web/viewer.html?file={{circular.fileName}}" width="100%" height="100%"></iframe>
--%>
{{>layout/footer}}
</body>
</html>